<?xml version='1.0' encoding='utf-8'?>
<widget id="bfa.remote.app" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>RemoteApp</name>
    <description>
        A sample Apache Cordova application that loads external web apps
    </description>
    <author email="fbrisa@gmail.com" href="">
        Francesco Angelo Brisa
    </author>
    <content src="index.html" />
    <access origin="*" />
</widget>
